body {
  overflow-y: auto;
}
   

.page-title {
  font-family: 'Pacifico', cursive;
      
}

    body {
      background-color: #fde3fd;
      margin: 0;
      font-family: sans-serif;
      text-align: center;
    }
    .heart, .sparkle {
      position: absolute;
      font-size: 40px;
      animation: floatUp 5s linear infinite;
      pointer-events: none;
      opacity: 0.8;
    }

    .heart {
      color: #ff69b4;
    }

    .sparkle {
      color: #fffacd;
      font-size: 20px;
    }

    @keyframes floatUp {
      0% {
        transform: translateY(176vh) scale(1);
        opacity: 0.8;
      }
      100% {
        transform: translateY(-27vh) scale(1);
        opacity: 0;
      }
    }
    
    .page-title {
      background-color: #fdc1ff;
      color: #ffffff;
      font-size: 59px;
      white-space: nowrap;
      overflow: hidden;
      text-shadow: 0 0 12px #ef80fd;
    }
    model-viewer {
      width: 100%;
      height: 500px;
    }
    
    .marquee-container {
    width: 100%;
    overflow: hidden;
    background-color: #69ffaf; /* Pinker Hintergrund */
    padding: 10px 0;
  }

  .marquee-text {
    display: inline-block;
    white-space: nowrap;
    font-size: 32px;
    font-weight: bold;
    color: white;
    animation: scroll-left 10s linear infinite;
    }

  @keyframes scroll-left {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }